{{- define "main" -}}
    <p class="about body-width">
      A <strong>ANSOL - Associação Nacional para o Software Livre</strong> é uma
      associação portuguesa sem fins lucrativos que tem como fim a divulgação,
      promoção, desenvolvimento, investigação e estudo da Informática Livre e das
      suas repercussões sociais, políticas, filosóficas, culturais, técnicas e
      científicas. <strong><a href="/software-livre">O que é Software Livre?</a></strong>
    </p>

    <div class='body-width'>
      <p class="why-join">
        <span>Precisamos da tua ajuda</span>
        <a href="{{ (site.GetPage "inscricao").Permalink }}" class='cta'>Junta-te a nós</a>
      </p>
    </div>

    <section class='news-section'>
      <h2 class="pull-header body-width">Notícias</h2>
      <ul class='news-list body-width'>
        {{ $query := where site.RegularPages "Type" "noticias" -}}
        {{ $query = first 3 $query -}}
        {{ range $post := $query -}}
        <li>
          <div class='cover'>
            {{ $cover := (index (.Resources.ByType "image") 0) }}
            {{ if not $cover }}
              {{ $cover = resources.Get "images/default-news-cover.png" }}
            {{ end }}
            {{ with $cover }}
              <img class='news-cover' src="{{ .Permalink }}" alt='' />
            {{ end }}
          </div>

          <div class='text'>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>

            <p class="published-date">{{ time.Format "2 de January de 2006" .PublishDate }}</p>

            <div class="summary">
              {{ .Summary }}
              <p style='margin-top: 1em'><a href="{{ .Permalink }}">Ler tudo</a></p>
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
      <p class="see-more body-width">
        <a href="{{ (site.GetPage "noticias").Permalink }}">Ver mais notícias</a>
      </p>
    </section>

    <section class='campaigns-section'>
      <h2 class="pull-header body-width">Iniciativas</h2>
      <ul class='campaigns-list body-width'>
        {{ $query := where site.RegularPages "Type" "iniciativas" }}
        {{ $query := where $query "Params.featured" true }}
        {{ $query = first 3 $query }}

        {{ range $post := $query }}
        <li>
          <a href="{{ .Permalink }}">
            {{ with (.Resources.ByType "image").GetMatch "*cover*" }}
              <img class='campaign-cover' src="{{ .Permalink }}" alt="" />
            {{ end }}
            <h3 class='title'>{{ .Title }}</h3>
          </a>
        </li>
        {{ end }}
      </ul>
    </section>

    <section class='events-section'>
      <h2 class="pull-header body-width">Próximos eventos</h2>
      <ul class='events-list body-width'>
        {{ $query := where site.RegularPages "Type" "eventos" }}
        {{ $query = where $query "Params.metadata.event.date.finish" ">=" (now.Format "2006-01-02") }}
        {{ $query = sort $query "Params.metadata.event.date.start" }}
        {{ $query = first 3 $query }}

        {{ range $post := $query }}
        <li>
          <a class="wrapper" href="{{ .Permalink }}">
            {{ partial "thumbnail" . }}
            <div class='text'>
              <p class="headline">{{ .Title }}</p>
              <p class="subheader">
                <span class="date">{{ partial "event-date" . }}</span>
                &mdash;
                <span class='location'>{{ .Params.metadata.event.location }}</span>
              </p>
            </div>
          </a>
        </li>
        {{ end }}
      </ul>
      <p class="see-more body-width">
        <a href="{{ (site.GetPage "eventos").Permalink }}">Ver mais eventos</a>
      </p>
      <p class="see-more body-width">
        Falta aqui algum evento?
        <a href="mailto:contacto@ansol.org">manda-nos uma mensagem</a>
      </p>
    </section>
{{- end -}}
